<!DOCTYPE html>
<head>
  <meta content='text/html: charset=UTF-8' http-equiv="Content-Type" />
</head>
<body>
<p>
  Hey <%= user.name %>,
</p>
<p>
  <%= @body %>
</p>
<p>
  Regards,<br>
  <%= admin.name %>,<br>
  Admin,<br>
  EmailNotif
</p>

</body>
</html>