<!DOCTYPE html>
<head>
  <meta content='text/html: charset=UTF-8' http-equiv="Content-Type" />
</head>
<body>
<div style="text-align: center;">==== PLEASE DO NOT REPLY TO THIS EMAIL ====</div>
<p>
  <%= @content %>
</p>
<div style="text-align: center;">==== #### ====</div>
</body>
</html>