<div class="section cc-store-home-wrap" style="margin-top: 3vh;">
  <div class="intro-header">
    <div class="intro-content cc-homepage">
      <div class="intro-text">
        <div class="heading-jumbo">
          Welcome,
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="motto-wrap">
      <div class="intro-text">
        This is an email notification portal where the admin can notify registered users about an event or any message via email.
      </div>
    </div>
  </div>
</div>